/order

*.sqlite
*.db
*.log
*.pid
*.bak
*.swp
*.tmp
*.DS_Store
*.env
*.coverage
*.egg-info
__pycache__/
*.pyc
*.pyo
*.pyd
*.zip
*.tar.gz
*.rar
*.tar
*.gz
*.7z
*.log.*
*.out       




/**/migrations/
!**/migrations/__init__.py

